
@{
    ViewBag.Title = "AddStudent";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutPageAdmin.cshtml";
    web2.Models.quanLyTrungTamDayDanEntities db = new web2.Models.quanLyTrungTamDayDanEntities();
}

<div class="row">
    <div class="col display-5" style="text-align:center">Thêm học viên</div>
</div>
<Hr />
<form class="row" action="@Url.Action("Submit_Add_Student", "HomeAdmin", new { area = "Admin" })">
    <div class="col-sm-12 col-md-6 col-xl-4 mb-3 mt-3">
        <label for="" class="form-label">Mã học viên:</label>
        <input type="text" class="form-control" id="mahv" placeholder="Mã" name="Ma">
    </div>
    <div class="col-sm-12 col-md-6 col-xl-4 mb-3 mt-3">
        <label for="" class="form-label">Tên học viên:</label>
        <input type="text" class="form-control" id="tenhv" placeholder="Tên" name="Ten">
    </div>
    <div class="col-sm-12 col-md-6 col-xl-4 mb-3 mt-3">
        <label for="" class="form-label">Ngày sinh:</label>
        <input type="date" class="form-control" id="ngaysinh" name="NgaySinh" val>
    </div>
    <div class="col-sm-12 col-md-6 col-xl-4 mb-3 mt-3">
        <label for="" class="form-label">Sđt:</label>
        <input type="text" class="form-control" id="sdt" placeholder="Số điện thoại" name="Sdt">
    </div>
    <div class="col-sm-12 col-md-6 col-xl-4 mb-3 mt-3">
        <label for="" class="form-label">Email:</label>
        <input type="text" class="form-control" id="email" placeholder="Email" name="Email">
    </div>
    <div class="col-sm-12 col-md-6 col-xl-4 mb-3 mt-3">
        <label for="" class="form-label">Địa chỉ:</label>
        <input type="text" class="form-control" id="diachi" placeholder="Địa chỉ" name="DiaChi">
    </div>
    <div class="col-sm-12 col-md-6 col-xl-4 mb-3 mt-3">
        <label for="" class="form-label">Tài khoản:</label>
        <input type="text" class="form-control" id="tk" placeholder="Tài khoản" name="TaiKhoan">
    </div>
    <div class="col-sm-12 col-md-6 col-xl-4 mb-3 mt-3">
        <label for="" class="form-label">Mật khẩu:</label>
        <input type="text" class="form-control" id="mk" placeholder="Mật khẩu" name="MatKhau">
    </div>
    <div class="col-sm-12 col-md-6 col-xl-4 mb-3 mt-3">
        <label>Phân quyền:</label>
        <select class="form-select mt-2" id="selphanquyen" name="PhanQuyen">
            <option value="false">Giáo viên</option>
            <option value="true">Học viên</option>
        </select>
    </div>
    <div class="col-sm-12 col-md-6 col-xl-4 mb-3 mt-3">
        <label>Các lớp học tham gia:</label>
        <select class="form-select mt-2" id="sellophv" name="Lop">
            @foreach(var lop in db.LopHocs.ToList())
            {
                <option value="@lop.Ma_lop">@lop.Ten_lop_hoc</option>
            }
        </select>
    </div>
    <div class="col-sm-12 col-md-6 col-xl-4 mb-3 mt-3">
        <label for="" class="form-label">Thêm lớp học:</label>
        <input type="text" class="form-control" id="lop" placeholder="lớp" name="ThemLop" value="">
    </div>
    <div class="col-sm-12 col-md-6 col-xl-4 mb-3 mt-3">
        <label>Trạng thái học phí:</label>
        <select class="form-select mt-2" id="selhocphi" name="HocPhi">
            <option value="true">Đã đóng học phí</option>
            <option value="false">Chưa đóng học phí</option>
        </select>
    </div>
    <div class="row d-grid gap-2">
        <button class="btn btn-success" type="submit" name="submit">Lưu</button>
    </div>
</form>



