
@{
    ViewBag.Title = "Thêm lớp học";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutPageAdmin.cshtml";
}
<div class="row">
    <div class="col display-5" style="text-align:center">Thêm lớp học</div>
</div>
<Hr />
<form class="row" action="@Url.Action("Submit_Add_Class", "HomeAdmin", new { area = "Admin" })" id="inputForm">
    <div class="col-sm-12 col-md-6 col-xl-4 mb-3 mt-3">
        <label for="" class="form-label">Mã lớp học:</label>
        <input type="text" class="form-control" id="ma" placeholder="Mã" name="Ma">
    </div>
    <div class="col-sm-12 col-md-6 col-xl-4 mb-3 mt-3">
        <label for="" class="form-label">Tên lớp học:</label>
        <input type="text" class="form-control" id="ten" placeholder="Tên" name="Ten">
    </div>
    <div class="col-sm-12 col-md-6 col-xl-4 mb-3 mt-3">
        <label for="" class="form-label">Mô tả:</label>
        <input type="text" class="form-control" id="mota" placeholder="Mô tả" name="MoTa">
    </div>
    <div class="col-sm-12 col-md-6 col-xl-4 mb-3 mt-3">
        <label for="" class="form-label">Email:</label>
        <input type="text" class="form-control" id="email" placeholder="Email" name="Email">
    </div>
    <div class="col-sm-12 col-md-6 col-xl-4 mb-3 mt-3">
        <label for="" class="form-label">Địa chỉ:</label>
        <input type="text" class="form-control" id="diachi" placeholder="Địa chỉ" name="DiaChi">
    </div>
    <div class="col-sm-12 col-md-6 col-xl-4 mb-3 mt-3">
        <label for="" class="form-label">Tài khoản:</label>
        <input type="text" class="form-control" id="tk" placeholder="Tài khoản" name="TaiKhoan">
    </div>
    <div class="col-sm-12 col-md-6 col-xl-4 mb-3 mt-3">
        <label for="" class="form-label">Mật khẩu:</label>
        <input type="text" class="form-control" id="mk" placeholder="Mật khẩu" name="MatKhau">
    </div>
    <div class="col-sm-12 col-md-6 col-xl-4 mb-3 mt-3">
        <label>Phân quyền:</label>
        <select class="form-select mt-2" id="selphanquyen" name="PhanQuyen">
            <option value="">Nhấn để chọn</option>
            <option value="false">Giáo viên</option>
        </select>
    </div>
    <div class="col-sm-12 col-md-6 col-xl-4 mb-3 mt-3">
        <label>Lớp học tham gia giảng dạy:</label>
        <select class="form-select mt-2" id="sellopgv" name="Lop">
            <option value="">Nhấn để chọn</option>
            @foreach (var lop in db.LopHocs.ToList())
            {
                <option value="@lop.Ma_lop">@lop.Ten_lop_hoc</option>
            }
        </select>
    </div>
    <div class="col-sm-12 col-md-6 col-xl-4 mb-3 mt-3">
        <label>Chuyên môn:</label>
        <select class="form-select mt-2" id="selChuyenMon" name="ChuyenMon">
            <option value="">Nhấn để chọn</option>
            <option value="Piano">Piano</option>
            <option value="Organ">Organ</option>
            <option value="Cajun">Cajun</option>
            <option value="Guitar">Guitar</option>
        </select>
    </div>
    <div class="col-sm-12 col-md-6 col-xl-4 mb-3 mt-3">
        <label for="" class="form-label">Mã Bảng Lương:</label>
        <input type="text" class="form-control" id="BangLuong" placeholder="Mã bảng lương" name="MaBangLuong">
    </div>
    <div class="col-sm-12 col-md-6 col-xl-4 mb-3 mt-3">
        <label for="" class="form-label">Lương cơ bản:</label>
        <input type="number" class="form-control" id="LuongCoBan" placeholder="Lương cơ bản" name="LuongCoBan">
    </div>
    <br />
    <div class="row d-grid gap-2">
        <input class="btn btn-success" type="submit" name="submit" value="Lưu">
    </div>
</form>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        var form = document.getElementById('inputForm');
        form.addEventListener('submit', function (event) {
            var checkInputs = document.getElementById('inputForm').querySelectorAll('input');
            checkInputs.forEach(function (input) {
                if (input.value.trim() === "") {
                    event.preventDefault();
                    input.classList.add('is-invalid');
                }
                else {
                    input.classList.remove('is-invalid')
                }
            });
            var checkSelects = document.getElementById('inputForm').querySelectorAll('select');
            checkSelects.forEach(function (select) {
                if (select.value.trim() === "") {
                    event.preventDefault();
                    select.classList.add('is-invalid');
                }
                else {
                    select.classList.remove('is-invalid')
                }
            });
            
        });
    });
</script>

