
@{
    ViewBag.Title = "Course_Organ";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Active = "course";
}


<body>

    <a href="@Url.Action("Course_Piano", "cource")">
        <img src="~/source/section5a.png" style="height:150px;width:150px;" />

    </a>
</body>
@*
    @Html.ActionLink(" ", "Course_Piano", "Cource", null, new { @class = "image-link" });
*@

