@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Active = "home";

}


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


<script>
    $(document).ready(function () {
        $("#customButtonStudy").click(function () {
            $("#actionStudyLink")[0].click();
        });
    });
</script>
<style>
    body {
        color:azure;
    }

    .sec {
        min-height: auto;
        min-width: auto;
    }

    .section1 {
        height: 500px;
        z-index: 1;
        background-position: 50% 50%;
        display: block;
        position: relative;
    }

    .section2 {
        height: 150px;
        width: auto;
    }

    .sec1-left {
        max-width: 50%;
        padding: 0 10px 20px 10px;
    }

    .sec1-right {
        position: relative;
        display: block;
    }

    .section3 {
    }

    .section4 {
        margin: 0 auto;
    }

        .section4 img {
            height: 75%; /* Độ cao cố định của ảnh */
            width: 100%;
            margin: 5px; /* Khoảng cách 10px giữa các ảnh */
        }

    .sec section5 {
        margin-top: 10px;
        height: 350px;
    }

    .sec5-left {
        min-height: auto;
        min-width: auto;
        max-width: 40%;
        height: 350px;
    }


    .sec5-right {
        min-height: auto;
        min-width: auto;
        max-width: 60%;
    }

    .section6 {
        height: 150px;
    }

    body {
      background-image: linear-gradient(45deg,black,#05064b) 
    }
</style>

<body>
    @* ảnh tự chuyển động *@
    <div>

        <img class="img-fluid" style="height:70%;width:100%" src="~/source/Frame 1.png" />


    </div>



    <div class="sec section1 container" style="">
        <div class="row ">
            <div class="col-6 sec1-left">
                <p class="m-1" style="font:bold;font-size:30px;"> <span style="color:black">Phố thị</span><span style="color:orangered"> Music</span></p>
                <br />
                <p>abbcc</p>
            </div>
            <div class="col-6 sec1-right">
                <img src="~/source/index_sec1.png" />
            </div>



        </div>


    </div>

    <div class="sec section2 container  ">

        <div style="display: flex; align-items: center; width:300px">
            <button class="btn btn-outline-success btn-lg" id="customButtonStudy">Bắt đầu nào!</button>

        </div>

    </div>

    @* nói về giá trị mang lại của trung tâm *@
    <div class="sec section3 container" style="padding-bottom:30px;">
        <div class="col " style="padding-top:30px;">
            <div class="row " style=" ">
                <p class="align-content-center  " style="font-size:50px;text-align:center;"><span style="color:orangered">Phố Thị Music</span> <span style="color: black"> Mang Lại giá trị gì cho bạn</span></p>
            </div>
            <div class="row" style="text-align:center;">
                Mời các bậc phụ huynh cùng tìm hiểu các giá trị đích thực mà tập thể đội ngũ Giáo viên và Cán bộ của Trung tâm muốn mang đến cho các con.
            </div>

            <div class="row " style="text-align:center;padding-top:30px;">
                <div class="col-3">
                    <img class="" src="~/source/icon-1.jpg" style="height:80px;width:80px;" />
                    <div style="padding-top:30px">
                        <span style="font:bold;font-size:30px">Đội Ngũ Giáo Viên</span>

                        <p class="container">
                            Các giáo viên có trình độ chuyên môn cao, chuyên nghiệp, nhiệt huyết và yêu trẻ.
                        </p>
                    </div>
                </div>

                <div class="col-3">
                    <img class="" src="~/source/icon-2.jpg" style="height:80px;width:80px;" />
                    <div style="padding-top:30px">
                        <span style="font:bold;font-size:30px">GIÁO TRÌNH GIẢNG DẠY</span>
                    </div>
                    <div>
                        <p>
                            Giáo trình hiện đại, đa dạng từ các nước tiên tiến. PP giảng dạy khoa học & tâm lý.
                        </p>
                    </div>
                </div>

                <div class="col-3">
                    <img class="" src="~/source/icon-3.jpg" style="height:80px;width:80px;" />
                    <div style="padding-top:30px">
                        <span style="font:bold;font-size:30px">CƠ SỞ VẬT CHẤT</span>
                    </div>
                    <div>
                        <p>
                            Trang thiết bị hiện đại và tiện nghi, môi trường học tập chuyên nghiệp – an toàn.
                        </p>
                    </div>
                </div>

                <div class="col-3">
                    <img class="" src="~/source/icon-4.jpg" style="height:80px;width:80px;" />
                    <div style="padding-top:30px">
                        <span style="font:bold;font-size:30px">LIÊN LẠC VỚI GIA ĐÌNH</span>
                    </div>
                    <div>
                        <p>
                            Mọi sự tiến bộ của con bạn đều được ghi nhận và được báo cáo sau mỗi buổi học.
                        </p>
                    </div>
                </div>





            </div>
        </div>
    </div>

    @* chương trình đào tạo của trung tâm *@

    <div class="sec section4 container" style="">
        <div class="row text-center">
            <p style="font-size:30px;font:bold">
                Chương trình đào tạo Phố Thị Music
            </p><br />
            <p style="font-size:20px;">
                Âm nhạc và Nghệ thuật là một phần không thể thiếu trong quá trình phát triển nhân cách của trẻ nhỏ. Các em cần một sân chơi lành mạnh để thêm yêu thương, gắn kết, sẻ chia cũng như phát triển mọi kỹ năng sống của mình.
            </p>

        </div>
        <div class="row">

            <div class="col-3 ">
                <a href="~/Views/Home/Course_Piano.cshtml ">
                    <img src="~/source/piano.png" />
                </a>
            </div>

            <div class="col-3 ">

               
                    <a id="pianoLink" href="~/Views/Home/Course_Piano.cshtml">
                        <img src="~/source/piano.png" />
                        @*@Html.ActionLink("  ", "Course_Piano", "Course", new { @class = "nav-link  " })
*@
                    </a>
     
               
            </div>
            
            <div class="col-3 ">
                <img src="~/source/piano.png" />
            </div>

            <div class="col-3 ">
                <img src="~/source/piano.png" />
            </div>
           

            

        </div>
    </div>

    @* nhận xét từ ph *@
    <div class="sec section5 container" style="">
        <div class="row mt-0" style="">
            <div class="col-4 " style="align-items:center">
                <img src="~/source/section5a.png" class="img-thumbnail" style="border:none" />
            </div>
            <div class="col-8 sec5-right">
                <div style="height:40px"></div>
                <h3 class="text-center fw-bold"> <span style="color:black">Cảm Nhận</span> <span style="color:orangered">Của Phụ Huynh</span></h3>

                <div class="CMT">
                    <div class="Fly-cmt">
                        <img class="rounded d-block mx-auto  " src="~/source/person1.png" style="position:center ;height:100px;width:100px;margin-top:20px" />
                        <div style="margin-top:15px ; min-height:auto;min-height:auto;">
                            <p class="text-center">Chương trình giảng dạy rất hay</p>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>

   
</body>

