@{
    ViewBag.Title = "Study";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Active = "study";
}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/Content/Study.css" />
    <style>
        .card {
            height: 610px;
            
        }

            .card img {
                height: 300px;
                width: 350px;
            }
        .alert p{
            font-size:24px;
        }
    </style>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>

<body>
    <div class="container">
        <div class="alert alert-success text-center">
            <p><strong>Chú ý!</strong> Nếu bạn đã có tài khoản thì đăng nhập @Html.ActionLink("Tại đây!", "Login", "Home")</p>
        </div>
        <div class="text-center my-5">
            <P class="display-3"><strong>CÁC KHOÁ HỌC</strong></P>
            <hr />
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="card mb-5 shadow-sm">
                    <img src="https://img.freepik.com/premium-vector/boy-girl-playing-piano_97632-600.jpg" class="img-fluid" />
                    <div class="card-body">
                        <div class="card-title">
                            <h2>Khoá Piano Thiếu Nhi, Cơ Bản</h2>
                        </div>
                        <div class="card-text">
                            <p>
                                Khoá học dành cho học viên từ 6 đến 18 tuổi trình độ nhập môn, cơ bản, người mới bắt đầu, không yêu cầu kiến thức âm nhạc trước đây. Học viên sẽ tìm hiểu về các nguyên tắc cơ bản của piano, bàn phím, các nút và ngón tay. Họ sẽ học cách đọc các ký hiệu âm nhạc đơn giản và chơi các giai điệu cơ bản.
                            </p>
                        </div>
                        <div style="position: absolute; bottom: 10px; right: 15px;">
                            <a href="#" class="btn btn-outline-primary rounded-0 float-end">Tìm hiểu thêm</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="card mb-5 shadow-sm">
                    <img src="https://img.freepik.com/premium-vector/boy-girl-playing-piano_97632-600.jpg" class="img-fluid" />
                    <div class="card-body">
                        <div class="card-title">
                            <h2>Khoá Piano Nâng cao</h2>
                        </div>
                        <div class="card-text">
                            <p>
                                Khoá học piano nâng cao dành cho những người đã có kiến thức cơ bản về piano hoặc đã hoàn thành khoá học cơ bản. Học viên sẽ tiến xa hơn trong việc đọc và diễn thể dấu âm nhạc, tạo ra âm nhạc phức tạp hơn và nắm vững các kỹ thuật chơi piano nâng cao.
                            </p>
                        </div>
                        <div style="position: absolute; bottom: 10px; right: 15px;">
                            <a href="#" class="btn btn-outline-primary rounded-0 float-end">Tìm hiểu thêm</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="card mb-5 shadow-sm">
                    <img src="https://img.freepik.com/premium-vector/boy-girl-playing-piano_97632-600.jpg" class="img-fluid" />
                    <div class="card-body">
                        <div class="card-title">
                            <h2>Khoá Guitar Cơ Bản</h2>
                        </div>
                        <div class="card-text">
                            <p>
                                Khoá học dành cho người mới bắt đầu chơi guitar. Học viên sẽ học cách cầm đàn, điều chỉnh và làm quen với các phím và dây. Họ sẽ tìm hiểu cách đọc tab âm nhạc, chơi các hợp âm cơ bản, và thực hiện các bài hát đơn giản.
                            </p>
                        </div>
                        <div style="position: absolute; bottom: 10px; right: 15px;">
                            <a href="#" class="btn btn-outline-primary rounded-0 float-end">Tìm hiểu thêm</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="card mb-5 shadow-sm">
                    <img src="https://img.freepik.com/premium-vector/boy-girl-playing-piano_97632-600.jpg" class="img-fluid" />
                    <div class="card-body">
                        <div class="card-title">
                            <h2>Khoá Guitar Nâng Cao, Solo</h2>
                        </div>
                        <div class="card-text">
                            <p>
                                Khoá học dành cho những người đã có kiến thức cơ bản về guitar hoặc đã hoàn thành khoá cơ bản. Học viên sẽ học cách chơi solo, tạo ra âm nhạc phức tạp hơn và phát triển kỹ thuật nâng cao. Họ sẽ tìm hiểu cách thực hiện solo guitar và làm quen với các kỹ thuật chơi guitar nâng cao như tapping và bending.
                        </div>
                        <div style="position: absolute; bottom: 10px; right: 15px;">
                            <a href="#" class="btn btn-outline-primary rounded-0 float-end">Tìm hiểu thêm</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="card mb-5 shadow-sm">
                    <img src="https://img.freepik.com/premium-vector/boy-girl-playing-piano_97632-600.jpg" class="img-fluid" />
                    <div class="card-body">
                        <div class="card-title">
                            <h2>Khoá học cajon và nhạc cụ gõ trống</h2>
                        </div>
                        <div class="card-text">
                            <P>Khoá học này tập trung vào việc chơi cajon và các nhạc cụ gõ trống khác. Học viên sẽ học cách sử dụng cajon để tạo ra âm thanh và giai điệu đa dạng. Họ sẽ thực hành các kỹ thuật gõ và hiểu về nhịp điệu âm nhạc.</P>
                        </div>
                        <div style="position: absolute; bottom: 10px; right: 15px;">
                            <a href="#" class="btn btn-outline-primary rounded-0 float-end">Tìm hiểu thêm</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="card mb-5 shadow-sm">
                    <img src="https://img.freepik.com/premium-vector/boy-girl-playing-piano_97632-600.jpg" class="img-fluid" />
                    <div class="card-body">
                        <div class="card-title">
                            <h2>Khoá học organ và bàn phím</h2>
                        </div>
                        <div class="card-text">
                            <P> Khoá học dành cho những người muốn học cách chơi organ và bàn phím. Học viên sẽ tìm hiểu về cấu trúc bàn phím, cách chơi các nút và bàn phím, và cách tạo ra âm nhạc từ organ. Họ sẽ học cách đọc và diễn thể dấu âm nhạc cho organ và chơi các bản nhạc đa dạng.</P>
                        </div>
                        <div style="position: absolute; bottom: 10px; right: 15px;">
                            <a href="#" class="btn btn-outline-primary rounded-0 float-end">Tìm hiểu thêm</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</body>
</html>

