



<style>
    body {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .sec {
        min-height: auto;
        min-width: auto;
    }

    .sec section5 {
            height: 350px;
    }

    .sec5 left {
        min-height: auto;
        min-width: auto;
       
        
        
       
        
    }
        .sec5 left img {
            position: center;
            max-width: 40%;
        }


    .sec5-right {
        min-height: auto;
        min-width: auto;
        max-width: 60%;
    }

</style>



<body>
    @* nhận xét từ ph *@
    <div class="sec section5 container" style="background-color:aqua">
        <div class="row">

            <div class="col-5 sec5 left" style="background-color:yellow">
                <img src="~/source/section5a.png" class="img-thumbnail" style="border:none" />
            </div>

            <div class="col-7 sec5 right">
                <div style="height:40px"></div>
                <h3 class="text-center fw-bold"> 
                <span style="color:black">Cảm Nhận</span>
                <span style="color:orangered">Của Phụ Huynh</span></h3>

                <div class="slider-container">
                    <img src="1.png" alt="Image 1" class="slider-image" />
                    <img src="2.png" alt="Image 2" class="slider-image" />
                    <img src="3.png" alt="Image 3" class="slider-image" />
                </div>

            </div>
        </div>
    </div>







    <script src="~/Views/Home/style/Index.js"></script>

</body>