



<style>
    body {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .sec {
        min-height: auto;
        min-width: auto;
    }

    .sec section5 {
            height: 350px;
    }

    .sec5 left {
        min-height: auto;
        min-width: auto;
       
        
        
       
        
    }
        .sec5 left img {
            position: center;
            max-width: 40%;
        }


    .sec5-right {
        min-height: auto;
        min-width: auto;
        max-width: 60%;
    }

</style>



<body>
    @* nhận xét từ ph *@
    <div class="sec section5 container" style="background-color:aquamarine">
        <div class="row mt-0" style="">
            <div class="col-4 " style="align-items:center">
                <img src="~/source/section5a.png" class="img-thumbnail" style="border:none" />
            </div>
            <div class="col-8 sec5-right">
                <div style="height:40px"></div>
                <h3 class="text-center fw-bold"> <span style="color:black">Cảm Nhận</span> <span style="color:orangered">Của Phụ Huynh</span></h3>

                <div class="CMT">
                    <div class="Fly-cmt">
                        <img class="rounded d-block mx-auto  " src="~/source/person1.png" style="position:center ;height:100px;width:100px;margin-top:20px" />
                        <div style="margin-top:15px ; min-height:auto;min-height:auto;">
                            <p class="text-center">aaaaa</p>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>







    <script src="~/Views/Home/style/Index.js"></script>

</body>