@{
    ViewBag.Title = "AboutStudent";
    Layout = "~/Areas/Student/Views/Shared/_LayoutStudent.cshtml";
    ViewBag.Active = "aboutstudent";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AboutStudent</title>
</head>
<body>
    <div class="container">
        <div class="row align-middle">
            <div class="col-md-5 col-sm-12 col-lg-5 mt-2">
                <img class="img-fluid " src="~/source/music.jpg"  />
            </div>
            <div class="col-md-7 col-sm-12 col-lg-7 mt-5 ">
                <div class="display-3">
                    <h2>Về Chúng Tôi </h2>
                    <div class="loader"></div>
                </div>
                <p>Với đội ngũ giảng viên với nhiều năm kinh nghiệm giảng dạy, sự tận tâm, năng nổ đi kèm với môi trường năng động, thoải mái cho quá trình học tập và phát triển của học viên, chúng tôi tự tin có thể cam kết chất lượng đầu ra đào tạo cho học viên, luôn tạo điều kiện để học viên có thể thoả sức sáng tạo và cháy hết mình với âm nhạc!.</p>
                <h3>Các Dịch vụ của chúng tôi.</h3>
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-lg-6 mt-2">
                        <div class="icon-box featured-box icon-box-left text-left">
                            <img src="https://cflymusic.com/wp-content/uploads/2021/11/icon-15.png" width="30" height="30" />
                            <span class="icon-box-text" style="margin-left:10px">Dạy đàn Guitar, Piano, Ukulele, Violin, Saxophone</span>
                        </div>
                        <div class="icon-box featured-box icon-box-left text-left mt-3">
                            <img src="https://cflymusic.com/wp-content/uploads/2021/11/icon-15.png" width="30" height="30" />
                            <span class="icon-box-text" style="margin-left:10px">Dạy các khóa học đàn dành cho trẻ em</span>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-lg-6 mt-2">
                        <div class="icon-box featured-box icon-box-left text-left">
                            <img src="https://cflymusic.com/wp-content/uploads/2021/11/icon-15.png" width="30" height="30" />
                            <span class="icon-box-text" style="margin-left:10px">Dạy các hóa học đàn từ cơ bản đến nâng cao</span>
                        </div>
                        <div class="icon-box featured-box icon-box-left text-left mt-3">
                            <img src="https://cflymusic.com/wp-content/uploads/2021/11/icon-15.png" width="30" height="30" />
                            <span class="icon-box-text" style="margin-left:10px">Dạy kèm tại nhà</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container ">
        <div class="col-sm-3 col-md-3 col-lg-3">

        </div>

    </div>
</body>
</html>
