@model List<web2.Models.LopHoc>

@{
    ViewBag.Title = "CourseStudent";
    Layout = "~/Areas/Student/Views/Shared/_LayoutStudent.cshtml";
    ViewBag.Active = "coursestudent";
    web2.Models.quanLyTrungTamDayDanEntities db = new web2.Models.quanLyTrungTamDayDanEntities();
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CourseStudent</title>
    <link rel="stylesheet" type="text/css" href="~/Content/Study.css" />
    <style>
        .card {
            height: auto;
        }

            .card img {
                height: 300px;
                width: 350px;
            }

        .alert p {
            font-size: 24px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="text-center my-5">
            <p class="display-3"><strong>QUÁ TRÌNH HỌC TẬP CỦA TÔI</strong></p>
            <hr />
        </div>
        <h4>Khóa học hiện tại:</h4><br />
        <div class="row">
            @foreach (var lh in Model)
            {
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="card mb-5 shadow-sm">
                        <img src="https://img.freepik.com/premium-vector/boy-girl-playing-piano_97632-600.jpg" class="img-fluid" />
                        <div class="card-body">
                            <h4 class="card-title"><strong>Khóa học:</strong> @lh.Ten_lop_hoc</h4>
                            <div class="card-text">
                                <p>
                                    <strong>Mô Tả:</strong> @lh.Mo_ta 
                                </p>
                                <p></p>
                            </div>

                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="card mb-5">
                        <div class="card-body">
                            <h4 class="card-title">Tên Bài tập</h4>
                            <p class="card-text">Thời hạn nộp:Không có</p>
                            <div style="position: absolute; bottom: 20px; right: 15px;">
                                <a href="#" class="btn btn-outline-primary rounded-4 float-end" style="border-width:2px;border-radius:5px;top:50%">Tiếp tục</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="card mb-5">
                        <div class="card-body">
                            <h4 class="card-title">Tên Bài tập</h4>
                            <p class="card-text">Thời hạn nộp:Không có</p>
                            <div style="position: absolute; bottom: 20px; right: 15px;">
                                <a href="#" class="btn btn-outline-primary rounded-4 float-end" style="border-width:2px;border-radius:5px;top:50%">Tiếp tục</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="card mb-5">
                        <div class="card-body">
                            <h4 class="card-title">Tên Bài tập</h4>
                            <p class="card-text">Thời hạn nộp:Không có</p>
                            <div style="position: absolute; bottom: 20px; right: 15px;">
                                <a href="#" class="btn btn-outline-primary rounded-4 float-end" style="border-width:2px;border-radius:5px;top:50%">Tiếp tục</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
