
@{
    ViewBag.Title = "ScheduleStudent";
    Layout = "~/Areas/Student/Views/Shared/_LayoutStudent.cshtml";
    ViewBag.Active = "schedulestudent";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ScheduleStudent</title>
</head>
<body>
    <div>
    </div>
</body>
</html>
