@model List<web2.Models.LopHoc>
@{
    ViewBag.Title = "ScheduleStudent";
    Layout = "~/Areas/Student/Views/Shared/_LayoutStudent.cshtml";
    ViewBag.Active = "schedulestudent";
    web2.Models.quanLyTrungTamDayDanEntities db = new web2.Models.quanLyTrungTamDayDanEntities();


}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ScheduleStudent</title>
</head>
<body>
    <div class="container">
        <h1>Thời khóa biểu</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>Thứ</th>
                    <th>Thứ 2</th>
                    <th>Thứ 3</th>
                    <th>Thứ 4</th>
                    <th>Thứ 5</th>
                    <th>Thứ 6</th>
                    <th>Thứ 7</th>

                </tr>
            </thead>
            <tbody>
               
            </tbody>
        </table>
    </div>
</body>
</html>
