@model web2.Models.GiaoVien
@{
    Layout = "~/Areas/Teacher/Views/Shared/_LayoutPageTeacher.cshtml";
}

<section id="teacher-dashboard">
    <h2 class="mb-4">Hello, @Model.Ma_giao_vien!</h2>
    <p class="lead">This is your dashboard. You can manage various aspects of your teaching here.</p>

    <div class="row">
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title mb-3">Manage Documents</h5>
                    <p class="card-text">Upload, view, and manage documents for your classes.</p>
                    <a href="@Url.Action("Manage_Document", "HomeTeacher")" class="btn btn-primary btn-block">Go to Documents</a>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title mb-3">Manage Classes</h5>
                    <p class="card-text">View and manage details of your classes.</p>
                    <a href="@Url.Action("Manage_Classes", "HomeTeacher")" class="btn btn-primary btn-block">Go to Classes</a>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title mb-3">Manage Schedule</h5>
                    <p class="card-text">View and manage your teaching schedule.</p>
                    <a href="@Url.Action("Manage_Schedule", "HomeTeacher")" class="btn btn-primary btn-block">Go to Schedule</a>
                </div>
            </div>
        </div>
    </div>
</section>
